
/* .region-select ul{
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
    
  } */
  
  
  /* .region-select:hover ul, .region-select ul:hover,  .region-select:focus ul{
    visibility: visible;
    opacity: 1;
  

  } */
  