@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  
  /* - Dark Blue (Dark Mode Elements) */color: hsl(209, 23%, 22%) ;
  /* - Very Dark Blue (Dark Mode Background) */color: hsl(207, 26%, 17%) ;
  /* - Very Dark Blue (Light Mode Text) */color: hsl(200, 15%, 8%) ;
  /* - Dark Gray (Light Mode Input) */color: hsl(0, 0%, 52%) ;
  /* - Very Light Gray (Light Mode Background) */color: hsl(0, 0%, 98%) ;
  /* - White (Dark Mode Text & Light Mode Elements) */color: hsl(0, 0%, 100%) ;
}

@layer base {
  :root {
    --clr-elements: hsl(207, 26%, 17%);
    --clr-bg: hsl(207, 26%, 17%);
    --clr-font: hsl(0, 0%, 100%) 
  }
}

.theme-dark{
  --clr-elements: hsl(209, 23%, 22%);
  --clr-bg: hsl(207, 26%, 17%);
  --clr-font: hsl(0, 0%, 100%) 
}

.theme-light {
  --clr-elements: hsl(0, 0%, 100%);
  --clr-bg: hsl(0, 0%, 90%);
  --clr-font: hsl(200, 15%, 8%); 
}






